{% extends "layout.html" %}
{% block title %} Search {% endblock %}
{% block content %} 
<div>
  <nav class="navbar navbar-expand-lg bg-light-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><form method="POST" action="{{ url_for('search') }}" class="d-flex" role="search"> {{ form.csrf_token }}
        <input class="form-control me-2" type="search" placeholder="Shows/Venues" aria-label="Search", name="searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form></a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new user">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div> 
Search results for {{ searched }}
<div class="album py-5 bg-light">
  {% if results  %}
  <div class="container">
   {% for result in results %} 
     <div class="col">
       <div class="card shadow-sm">
         <div class="card-body">
           <p class="card-text">{{result.title }}</p>
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
               <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#Content{{result.id}}" aria-controls="Content{{result.id}}" aria-expanded="false" aria-label="Toggle details">Details</button> 
     	       <div class="collapse" id="Content{{ result.id }}">
                   <span class="content me-auto mb-2 mb-lg-0">At {{ result.venue }} only at {{ result.price }} rupees  on {{result.day}}DAY at {{result.timing}} only {{result.available_seats}} seats are available</span>
               </div>
               <a href="/book_tickets/{{ result.id }}" <button type="button" class="btn btn-sm btn-outline-secondary">Book Tickets</button></a>
             </div>
             <small class="text-muted"> {{ result.rating }} Star</small>
           </div>
         </div>
       </div>
     </div> 
   {% endfor %}
   {% else %}
     <p class=" bold"> Sorry! Nothing related to {{ searched }} </p>
   {% endif %}
  </div>
</div>
{% endblock %}
